@import '../style/index.less';

.zec-button {
  height: 48px;
  line-height: 48px;
  font-size: @font-md;
  color: #fff;
  &-inner {
    height: 100%;
    border-radius: @radius-md;
    text-align: center;
    padding: 0 20px;
  }
  &-active {
    color: @fill-tap !important;
    opacity: .8;
  }
  &-primary {
    background: @primary-color;
  }
  &-warning {
    background: @warning-color;
  }
  &-success {
    background: @success-color;
  }
  &-error {
    background: @error-color;
  }
  &-disable {
    opacity: .3;
  }
}