@import '../style/index.styl';

.pp-button 
  height 44px
  line-height 44px
  color $text-color
  text-align center
  border-radius $border-radius

  .pp-primary
    color: #fff
    background-color $info-text-color

  .pp-success
    color #fff
    background-color $success-text-color
  
  .pp-warning
    color #fff
    background-color $warning-text-color

  .pp-error 
    color #fff
    background-color $error-text-color
  
  .pp-disabled 
    color $disable-text-color
    background $disable-background-color

